<a class="navbar-brand">JMAD</a>
<form>
  <label for="jmad-instrument">Instrument</label>
  <input
    type="text"
    class="form-control"
    id="jmad-instrument"
    name="instrument"
    placeholder="e.g. trumpet"
  />
  <label for="jmad-artist">Artist</label>
  <input
    type="text"
    class="form-control"
    id="jmad-artist"
    name="artist"
    placeholder="e.g. Davis"
  />
  <button type="submit">Search</button>
</form>
<div class="jmad-search-result"></div>
<div class="jmad-search-result"></div>
<div class="jmad-search-result"></div>